.navbar{
    position: fixed;
    z-index: 20;
}
.navbar-nav{
    padding-right: 100px;
}
.nav-link{
    margin-right: 30px;
}

.main-content{
    background-color: black;
}
.center-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.first,.card-body{
    background-color: #00aae4;
}
.image-start{
    width: 50px;
}
.icon-viajes-chile{
    margin-left: 150px;
}
.footer{
    background-color: #00aae4;
}


.footer{
    height: 70px;
}

hr{ /*Intente de todo para que se agregara un grosor al hr xD*/
    border: none;
    height: 10px;
   background-color:#00aae4 ;
   
}
.destacados{
    padding-top: 150px;
}
.contacto{
    padding-top: 100px;
}

.navbar-color {
    background-color: rgb(0, 57, 65);
    transition: all 1s ease;
  }

.accordion-body{
    background-color: black ;
}
.showlive-alert{
    display: block;
    align-items: center;
}
.icons{
    color: white;
}
.fab{
    font-size: 30px;
    padding-right: 20px;
}
a{
    color: white;
}
a:hover{
    color: rgb(21, 22, 22);
    transition: 500ms;
}
.card-body-black{
    background-color: black;
}
@media (max-width:  720px) {
    .footer-icons {
      background-color: black;
    }}